
html, body {
  -webkit-font-smoothing: antialiased;
  text-align: center;
  margin : 0%;
  overflow-x: hidden;
  width : 100%;
  min-width: 375px;
}


a,
h1,
h2,
h3,
p {
  font-family: Avenir;

  text-decoration: none;
  @include mobile-only {
    white-space: normal;
  }
}
h1 {
  font-family: Dancing Script;
  font-size: 4rem;
  color: #493929;
  font-weight: 500;
  @include mobile-only {
    font-size: 1.2rem;
  }
}

h2 {
  font-family: Avenir;
  font-size: 2rem;
  font-weight: 500;
  @include mobile-only {
    font-size: 1.8rem;
  }
}

h3 {
  font-size: 1.7rem;
  font-family: Avenir;
  font-weight: 400;
  color: #ffffff;
  @include mobile-only {
    font-size: 1.5rem;
  }
}

p {
  font-size: 1.1rem;
  font-weight: lighter;
  @include mobile-only {
    font-size: 0.8rem;
  }
}

a {
  color: #ffffff;
  @include mobile-only {
    font-size: 11px;
  }
}
