.footernav {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: end;
  justify-content: center;

  @include mobile-only {
    justify-content: space-around;
    padding: 0;
    gap: 0;
  }
}

.email {
  display : flex;
  align-items:center;
  width: 60px;
  @include mobile-only {
    width : 40px;
  }
}

.linkfooter {
  font-size: 14px;
  position: relative;
  color: #ffffff;
  text-decoration: none;
  @include mobile-only {
    font-size: 10px;
  }
}
.linkfooter:hover {
  text-decoration: underline;
}
