
.footernav {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: end;
  padding-right: 40px;
  padding-top : 70px;
  @include mobile-only {
justify-content : space-around;
    padding : 0;
    gap : 0;
       }
}

.Logo {
  @include mobile-only {

       }

}
