#aboutme {
  position: relative;
  background-color: #af9380;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  z-index: 0;
  justify-content: space-around;
  align-items: center;
  background: rgb(175, 147, 128);
  background: linear-gradient(
    180deg,
    rgba(175, 147, 128, 1) 20%,
    rgba(145, 102, 86) 100%
  );
  @include mobile-only {
    flex-direction : column;
    justify-content : unset;
    }
}
.conteneurimgaboutme {
  background-image: url("https://i.goopics.net/63cgu7.png");
  background-size: cover;
  min-width: 500px;
  height: 700px;
  position: relative;
  @include mobile-only {
   height : 300px;
   min-width : 300px;
    }
}

.conteneurimgaboutme:before {
  content: "";
  display: block;
  position: absolute;
  left: -40px;
  top: -40px;
  width: 90%;
  height: 113%;
  z-index: -1;
  background-color: rgba(235, 226, 219, 0.7);
  @include mobile-only {
    left: -20px;
    top: -20px;
    width: 90%;
    height: 100%;
    }
}
.aboutmeimg {
  width: 400px;
  z-index: 100000;
}
.conteneurtextaboutme {
  width: 50%;
  text-align: start;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
  padding-left: 30px;
  background-color: #fdfdfd;
  opacity: 0.9;
  @include mobile-only {
    width : unset;
     }

  & h2,
  h3,
  p {
    color: #493929;
  }
  p {
    line-height : 1.5;
  }
}
